<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="tex"
            description="DartSpec"
            language="DartSpec"
            derivedFrom="DynamicRoot"
            validator="DartSpec.DartSpecValidator"
            validatorClass="DartSpec.DartSpecValidator"
      ></language>
   </extension>
   <extension
         id="DartSpec.parser"
         name="DartSpec Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="DartSpec.DartSpecParseController"
            language="DartSpec">
      </parser>
   </extension>    
</plugin>
